<%- include('header'); -%>
<%# <div class="box"> %>
  <h1>About</h1>
<p>This is a to do list web app that is done using EJS.
This is a to do list web app that is done using EJS.
This is a to do list web app that is done using EJS.
This is a to do list web app that is done using EJS.
This is a to do list web app that is done using EJS.
This is a to do list web app that is done using EJS.
This is a to do list web app that is done using EJS.
</p>

<%# </div> %>
<%- include('footer'); -%>
